﻿body {
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

.datepicker table tr td span.selected-period {
    background: rgba(0,255,0,1) none repeat scroll 0 0;
}

.datepicker table tr td span.disabled-period, .datepicker table tr td span.disabled-period:hover {
    background: rgba(0,255,0,1) none repeat scroll 0 0;
    color: #777;
    cursor: not-allowed;
    /*cursor: default;*/
}