﻿html, body {
  height: 100%;
}

.footer {
    text-align: center;
    padding-top: 5px;
    padding-bottom: -1px;
    color: white;
}

#main-box {
    margin-bottom: 50px;
}

.box {
	background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
}
.box-centerside {
    /*background:url("../images/greybox-center-bg1.jpg") repeat-x scroll center top transparent;*/
    float: left;
    min-height: 100px;
    width: 100%;
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}