﻿html, body {
  height: 100%;
}

.footer {
    text-align: center;
    padding-top: 5px;
    padding-bottom: -1px;
    color: white;
}

#main-box {
    margin-bottom: 50px;
}

.marquee {
  width: auto;
  overflow: hidden;
  border: 1px solid #ccc;
  background: #ccc;
}